/* Container */
.home-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  text-align: left;
  overflow-y: auto;
   background: linear-gradient(135deg, #1e293b, #0f766e);
   height: 100vh;
}

/* Hero Section */
.hero-section {
 background-image: url('/assets/kotak.jpg');
  background-size: cover;    /* use cover instead of contain */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 50px;
  /* height: 70vh;             adjust height as needed */
  margin-bottom: 0;  
}

.hero-left {
 max-width: 700px;
  padding: 30px;
  border-radius: 12px;
  color: black;
  margin-bottom: 0; 
}

.hero-left h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.hero-banner-desc {
  font-size: 1.2rem;
  margin-bottom: 25px;
  opacity: 0.9;
}

/* Buttons */
.button-group {
  display: flex;
  gap: 15px;
}

.btn {
  background: #ff9800;
  color: #fff;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.3s;
}

.btn:hover {
  background: #d3cc11;
}

/* Features Section */
.features {

  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding: 40px 10px;        /* give controlled padding */
  margin-top: 0;
}

.feature-card {
  background-color: rgb(187, 187, 187);
  padding: 25px;
  border-radius: 12px;
  width: 260px;
  transition: transform 0.3s ease, background 0.3s ease;
  text-align: center;
  color: #090808;
  bottom: 80%;
}

.feature-card:hover {
  transform: translateY(-10px);
  background: rgba(207, 190, 190, 0.2);
}

.feature-card img {
  width: 60px;
;
  filter: brightness(0) invert(1);
}

.feature-card h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 0.95rem;
  opacity: 0.85;
}
